.transform {
    /* transform: translate(50px, 100px);
    transform: rotate(-20deg);
    transform: scale(0.5, 0.5);
    transform: scaleX(0.5);
    transform: scaleY(0.5);
    transform: skew(-10deg, -20deg); */
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    /* transform: rotateY(180deg);
    transform: rotateX(180deg);
    transform: rotate3D(10px, 20px, 100px, 20deg);
    transform: perspective(3); */
}

.transitionC {
    color: blue;
    font-size: 200px;
    transition: font-size 2s;
    transition-delay: 0.5s;
}

.transitionC:hover {
    font-size: 20px;
}