body {
    margin: 0;
    border: 25px solid transparent;
    padding: 10px;
    border-image: url("../assets/ImagesFolder/border_image.png") 18% round;
    background-color: aquamarine
}

* {
    box-sizing: border-box;
}

.header {
    margin: 0;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: rgb(233, 33, 33);
}

.footer {
    background-color: currentColor;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

.column {
    float: left;
    width: 33.33%;
    padding: min(10%, 15px);
    border: 2px solid rgb(202, 80, 80);
    border-radius: 15px 50px 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}